body {
    position: absolute;
    display: block;
    background-color: #101a39;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    user-select: none;
}

div.topbar {
    position: relative;
    outline: thin dashed black;
    height: 50px;
    width: 100%;
}

div.hamburger-container {
    margin: 7px;
    background-color: #b6def0;
    height: 36px;
    width: 36px;
    border-radius: 50px;
    display: inline-block;
}

i.hamburger {
    margin-top: 6px;
    margin-left: 7px;
    font-size: 26px;
}

div.topline-text {
    color: #e0b19a;
    margin: 0;
    line-height: 50px;
    display: inline-block;
}

form.form-data {
    height: 100%;
}

div.container {
    position: relative;
    float: left;
    text-align: center;

    &.portrait {
        display: block;
        height: calc(50% - 25px);
        width: 100%;
    }

    &.landscape{
        display: inline-block;
        height: calc(100% - 50px);
        width: 50%;
    }

    &.props{
        background-color: #101a39;
    }

    &.preview{
        background-color: #3e3e3e;
    }
}

div.preview-img-container{
    width: 100%;
    height: 60%;
}

img.preview-img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &.custom-image-preview{
        opacity: 0;
        transition: 1000ms opacity;
    }
}

div.remove-custom-image {
    height: 50px;
    width: 200px;
    background-color: #ed603a;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 15px;
    display: none;
}

div.preview-overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    animation: 500ms all;

    &.hide{
        display: none;
    }
}

div.progress-bar-outter{
    height: 15px;
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
}

div.progress-bar-inner{
    height: 100%;
    width: 0;
    background-color: blue;
    transition: 500ms width;
}

div.centered {
    position: relative;
    top: 48%;
    transform: translateY(-50%);
}

input.scan-destination {
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 21px;
}

select.shape{
    height: 50px;
    width: 300px;
    font-size: 26px;
    padding-left: 10px;
}

div.upload-file {
    height: 100px;
    width: 300px;
    line-height: 100px;
    font-size: 28px;
    color: #fff;
    background-color: #ed603a;
    margin: 10px auto;
    border-radius: 15px;
    cursor: pointer;
}

div.next-button{
    &.wrapper {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 30px;
        color: #f7f000;
        display: none;
    }
    .icon {
        font-size: 60px;
        position: relative;
        top: 4px;
        left: 3px;
        color: #213c8f;
    }
}

div.prev-button{
    &.wrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 30px;
        color: #f7f000;
    }
    .icon {
        font-size: 60px;
        position: relative;
        top: 4px;
        right: 3px;
        color: #213c8f;
    }
}

div.prev-button, div.next-button {
    cursor: pointer;
    .outter {
        background-color: #213c8f;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        display: inline-block;
        margin-left: 10px;
    }

    .text {
        display: inline-block;
        position: relative;
        top: 12px;
    }

    .inner {
        background-color: #f7f000;
        height: 70px;
        width: 70px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;

        position: relative;
        top: 15px;
        text-align: center;
    }
}

div.step {
    display: none;
}

div.color-btn{
    height: 50px;
    width: 300px;
    margin: 10px auto;
    background-color: #000;
    border: 3px solid #51534f;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    cursor: pointer;

    &.selected{
        color: #f7f000;
        border-color: #f7f000; 
    }
}

div.color-picker-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -1000px;

    opacity: 0;
    transition: all 750ms;

    .color-picker{
        height: 80%;
        width: 80%;
        margin: 0 auto;
        padding: 40px;

        .color-swatch{
            height: 18%;
            width: 18%;
            display: inline-block;
            margin: 15px;
            cursor: pointer;
        }

        .x-close {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            font-size: 30px;
       }
    }
}

.custom-image {
    visibility: hidden;
}

// FONTS
p.directions {
    color: #6e98fe;
    margin-top: -10px;
    margin-bottom: 10px;
}

.big {
    font-size: 40px;
}

.medium {
    font-size: 27px;
}

.small {
    font-size: 20px;
}
