body {
    position: absolute;
    display: block;
    background-color: #101a39;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
}

div.topbar {
    position: relative;
    outline: thin dashed black;
    height: 50px;
    width: 100%;
}

div.container {
    position: relative;
    float: left;

    &.portrait {
        display: block;
        height: calc(50% - 25px);
        width: 100%;
    }

    &.landscape{
        display: inline-block;
        height: calc(100% - 50px);
        width: 50%;
    }

    &.props{
        background-color: #101a39;
        text-align: center;
    }

    &.preview{
        background-color: #3e3e3e;
    }
}

div.step{
    padding: 75px;
}

input.scan-destination {
    height: 25px;
    width: 200px;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 21px;
}

// FONTS
p.directions {
    color: #6e98fe;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.topline {
    color: #e0b19a;
    margin: 0;
    line-height: 50px;
}

p.big {
    font-size: 25px;
}

p.medium {
    font-size: 20px;
}

p.small {
    font-size: 15px;
}
