body {
    position: absolute;
    display: block;
    background-color: #101a39;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    user-select: none;
}

div.topbar {
    position: relative;
    outline: thin dashed black;
    height: 50px;
    width: 100%;
}

div.hamburger-container {
    margin: 7px;
    background-color: #b6def0;
    height: 36px;
    width: 36px;
    border-radius: 50px;
    display: inline-block;
}

i.hamburger {
    margin-top: 6px;
    margin-left: 7px;
    font-size: 26px;
}

div.topline-text {
    color: #e0b19a;
    margin: 0;
    line-height: 50px;
    display: inline-block;
}

form.form-data {
    height: 100%;
}

div.container {
    position: relative;
    float: left;
    text-align: center;
    transition: 1s background-color;

    &.portrait {
        display: block;
        height: calc(50% - 25px);
        width: 100%;
    }

    &.landscape{
        display: inline-block;
        height: calc(100% - 50px);
        width: 50%;
    }

    &.props{
        background-color: #101a39;
    }

    &.preview{
        background-color: #3e3e3e;
    }
}

div.preview-img-container{
    width: 100%;
    height: 60%;
}

img.preview-img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &.custom-image-preview{
        opacity: 0;
        transition: 1000ms opacity;
    }
}

div.preview-text{
    position: absolute;
    bottom: -40px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: white;
}

div.preview-overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 1000ms opacity;

    opacity: 1;

    &.hide{
        opacity: 0;
    }
}

div.progress-bar-outter{
    height: 15px;
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
}

div.progress-bar-inner{
    height: 100%;
    width: 0;
    background-color: blue;
    transition: 500ms width;
    color: #000;
}

div.centered {
    position: relative;
    top: 48%;
    transform: translateY(-50%);
    text-align: center;
}

div.full-screen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    outline: thin dashed red;
    background-color: red;
}

input.scan-destination {
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 21px;
}

select.shape{
    height: 50px;
    width: 300px;
    font-size: 26px;
    padding-left: 10px;
}

div.upload-file {
    height: 100px;
    width: 300px;
    line-height: 100px;
    font-size: 28px;
    color: #fff;
    background-color: #ed603a;
    margin: 10px auto;
    border-radius: 15px;
    cursor: pointer;
}

div.next-button{
    &.wrapper {
        position: absolute;
        bottom: 50px;
        right: 50px;
        font-size: 15px;
        color: #f7f000;
        display: none;
    }
    .icon {
        font-size: 30px;
        position: relative;
        top: 2px;
        left: 1px;
        color: #213c8f;
    }
}

div.prev-button{
    &.wrapper {
        position: absolute;
        bottom: 50px;
        left: 50px;
        font-size: 15px;
        color: #f7f000;
    }
    .icon {
        font-size: 30px;
        position: relative;
        top: 2px;
        right: 1px;
        color: #213c8f;
    }
}

div.prev-button, div.next-button {
    cursor: pointer;
    .outter {
        background-color: #213c8f;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        display: inline-block;
        margin-left: 10px;
    }

    .text {
        display: inline-block;
        position: relative;
        top: 6px;
    }

    .inner {
        background-color: #f7f000;
        height: 35px;
        width: 35px;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;

        position: relative;
        top: 8px;
        text-align: center;
    }
}

div.step {
    display: none;
}

div.color-btn{
    height: 50px;
    width: 300px;
    margin: 10px auto;
    background-color: #000;
    border: 3px solid #51534f;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    cursor: pointer;

    &.selected{
        color: #f7f000;
        border-color: #f7f000; 
    }
}

div.color-picker-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -1000px;

    opacity: 0;
    transition: all 750ms;

    .color-picker{
        height: 80%;
        width: 80%;
        margin: 0 auto;
        padding: 40px;

        .color-swatch{
            height: 18%;
            width: 18%;
            display: inline-block;
            margin: 15px;
            cursor: pointer;
        }

    }
}

.x-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
}

.custom-image {
    visibility: hidden;
}

div.animation-container {
    margin-bottom: 35px;
    background-color: #222c4b;
    overflow-y: scroll;
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;

    div.animation-box {
        position: relative;
        border: 1px solid #ffffff;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;

        &.selected{
            border: 1px solid #f7f000;
        }

        .animation-text {
            position: absolute;
            top: 5%;
            color: #fff;
            width: 100%;
        }

        .price-text {
            color: #fff;
            position: absolute;
            bottom: 2%;
            width: 100%;
        }
    }
}

.braintree-widget {
    width: 90%;
    margin: 0 auto;
    margin-top: -33px;
}

.email-widget{
    width: 90%;
    margin: 0 auto;
    background-color: #FFF;
    text-align: left;
    font-family: 'sans-serif';
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px 0 0;

    label {
        margin-left: 15px;
        margin-right: 15px;
        letter-spacing: -1px;
        font-size: 14px;
    }

    input {
        width: calc(100% - 40px);
        display: block;
        margin: 10px auto;
        margin-top: 5px;
        height: 36px;
        border: 1px solid #b7b7b7;
        font-size: 16px;
        padding-left: 10px;
        transition: 500ms border;

        &.error{
            border: 1px solid #e29695;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            border: 1px solid #545454;
        }
    }
}

.submit-payment{
    background-color: #ed603a;
    width: 140px;
    margin: 40px auto;
    height: 50px;
    color: white;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.toc-info {
    color: #FFF;
    margin-bottom: 20px; 

    .toc-info-inner{
        color: #ed603a;
        cursor: pointer;
    }

    input {
        vertical-align: bottom;
    }
}

.toc-container{
    height: calc(100% - 50px);
    width: calc(100% - 100px);
    position: absolute;
    top: 0;
    left: -1000px;
    background-color: #ed603a;
    overflow-y: scroll;
    padding: 25px 50px;
    text-align: left;

    opacity: 0;
    transition: all 750ms;
}

div.unlocking-modal{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ed603a;
    color: #fff;
    display: none;
}

.download-btn{
    color: white;
    height: 50px;
    line-height: 50px;
    width: 200px;
    margin: 0 auto;
    background-color: #2f6910;
    border-radius: 15px;
    font-size: 25px;
}

div.payment-error-container {
    color: #ed603a;
}

// FONTS
p.directions {
    color: #6e98fe;
    margin-top: -10px;
    margin-bottom: 10px;
}

.big {
    font-size: 40px;
}

.medium {
    font-size: 27px;
}

.small {
    font-size: 20px;
}
